*{
    height: 100vh;
}

body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(universe\ -\ Copy.jpeg);
}

.moon{
    width: 400px;
    height: 400px;
    border-radius:200px ;
    background-color: #e1f5ab;
    box-shadow: inset -5px 4px 200px #e9cccc,inset -14px -20px 3px #6f82e4,
               0 0 80px #bfbaef,0 0 100px #c0e7ee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    animation: rotate 3s linear infinite;
  }
 @keyframes rotate{
    0%{background-position: 0px 0px; 
         transform:translate(-50%,-50%)  rotate(0deg) scale(1);
    }
    100%{background-position: 1200px, 0px;
        transform:translate(-50%,-50%) rotate(360deg) scale(1);
    }
 }